<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Accueil
        </ion-title>
    </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content> -->

<ion-content class="ion-padding" scroll-y="false">
    <div class="img_conn" style="background-image: url('../../../assets/img/shapes.png')"></div>
    <strong class="cat">Les categories des dechets</strong>
    <div class="conteneur">
        <img src="./assets/img/shutterstock_1102613147-800x400.jpg" alt="plastic">
        <img src="./assets/img/dechets-metallique.jpg">
    </div>
    <div class="deu">
        <img src="./assets/img/image.jpg">
        <img src="./assets/img/csm.jpg">
    </div>
    <div class="tr">
        <img src="./assets/img/1-4.jpg">
        <img src="./assets/img/papier.jpg">
    </div>

</ion-content>