#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: green;
}

.home {
    --ion-background-color: #ece6e6;
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

.img_conn {
    height: 173px;
    margin-left: -40px;
    margin-top: -29px;
    width: 234px;
    object-fit: cover;
}

img {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}